In [1]:
import pandas as pd

In [2]:
pd = pd.read_csv('canteen_shop_data.csv')

In [8]:
pd

,Date,Time,Item,Price,Quantity,Total,Payment Method,Customer Satisfaction,Weather,Special Offers
0,2024-04-01,12:15,Sandwich,4.5,2,9.0,Cash,4,Sunny,Yes
1,2024-04-01,12:30,Drink,1.5,1,1.5,Card,3,Sunny,No
2,2024-04-01,12:45,Salad,5.0,1,5.0,Mobile Payment,5,Cloudy,Yes
3,2024-04-01,13:00,Burger,5.5,1,5.5,Cash,4,Sunny,No
4,2024-04-01,13:15,Sandwich,4.5,1,4.5,Card,3,Sunny,Yes
...,...,...,...,...,...,...,...,...,...,...
195,2024-04-25,12:45,Burger,5.5,2,11.0,Card,4,Sunny,Yes
196,2024-04-25,13:00,Sandwich,4.5,1,4.5,Mobile Payment,3,Cloudy,No
197,2024-04-25,13:15,Drink,1.5,1,1.5,Cash,5,Rainy,Yes
198,2024-04-25,13:30,Salad,5.0,2,10.0,Card,4,Sunny,No
199,2024-04-25,13:45,Burger,5.5,1,5.5,Mobile Payment,3,Cloudy,Yes

In [4]:
pd = pd.drop(columns=['Customer ID', 'Employee ID'])

In [6]:
pd.isnull().sum()

Date                     0
Time                     0
Item                     0
Price                    0
Quantity                 0
Total                    0
Payment Method           0
Customer Satisfaction    0
Weather                  0
Special Offers           0
dtype: int64

In [9]:
#save
pd.to_csv('cleaned.csv', index=False)